/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 16, ../cssb_sass/print.scss */
a:link:after,
a:visited:after {
  content: "(" attr(href) ")";
  font-size: 0;
}

/* line 21, ../cssb_sass/print.scss */
.footer {
  display: none;
}

/* line 25, ../cssb_sass/print.scss */
.navbar.arcat-header {
  display: inherit !important;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
/* line 27, ../cssb_sass/print.scss */
.navbar.arcat-header .container {
  background-color: #999999 !important;
  -webkit-print-color-adjust: exact;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee',endColorstr='#ffe6e6e6',GradientType=0);
  margin-bottom: 0;
}

/* line 38, ../cssb_sass/print.scss */
.mf-parent {
  bottom: 30px;
}

/* line 41, ../cssb_sass/print.scss */
.navbar {
  display: inherit !important;
}
/* line 43, ../cssb_sass/print.scss */
.navbar .container {
  border-bottom: 1px solid #d4d4d4 !important;
  margin-bottom: 1em;
}

/* line 48, ../cssb_sass/print.scss */
.navbar-toggle .icon-bar {
  background-color: #999999 !important;
  -webkit-print-color-adjust: exact;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee',endColorstr='#ffe6e6e6',GradientType=0);
}

/* line 54, ../cssb_sass/print.scss */
.panel-heading.arcat-panel-heading {
  background-color: #999999 !important;
  -webkit-print-color-adjust: exact;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee',endColorstr='#ffe6e6e6',GradientType=0);
}

/* line 62, ../cssb_sass/print.scss */
.company-profile .logo-wrap {
  max-width: 100px;
}

/* line 67, ../cssb_sass/print.scss */
.products-table .product-row > div {
  display: table-cell;
}

/* line 71, ../cssb_sass/print.scss */
.products-table .product-row > div > a > img {
  width: 100px;
  max-width: initial!important;
}
